@font-face {
	font-family: 'nautilus_pompiliusregular';
	src: url('../fonts/nautilus.eot') format('embedded-opentype'),
	url('../fonts/nautilus.woff2') format('woff2'),
	url('../fonts/nautilus.woff') format('woff');
	font-weight: normal;
	font-style: normal;

}
* {
	box-sizing: border-box;
}
body{
	background: #1a2159;
	font-family: 'nautilus_pompiliusregular';
	padding: 10px;
	margin: 0;

}
.christmas-letter{
	width: 1000px;
	max-width: 100%;
	max-height: calc(100vh - 20px);
	height: 800px;
	background: url(../img/bg.png) no-repeat top center;
	margin: 0 auto;
	position: relative;
	text-align: center;
	padding-top: 16vh;

	.snow {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		top: 0;
		letter-spacing: 0;
		background-image: url('../img/snow.png'), url('../img/snow3.png'), url('../img/snow2.png');

		-webkit-animation: snow 15s linear infinite;
		-moz-animation: snow 15s linear infinite;
		-ms-animation: snow 15s linear infinite;
		animation: snow 15s linear infinite;
	}

	.overlay{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
		background: url(../img/bg-over.png) no-repeat top center;
	}

	h2 {
		font-size: 4.25vw;
		color: #fff;
		margin: 0;
		line-height: 0.9;
		font-weight: normal;
	}
	.footer{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 28vh;
		background: url(../img/bottom-bg.png) no-repeat top center;
		background-size: cover;
		position: absolute;
		width: 100%;
		bottom: 0;
		z-index: 3;
		img {
			margin-top: 8vh;
			max-width: 30vw;
		}
	}
	.audio {
		.btn-mute {
			position: absolute;
			left: 20px;
			bottom: 22vh;
			width: 25px;
			height: 25px;
			z-index: 5;
			background: url(../img/mute.png) no-repeat center;
			cursor: pointer;
			&.of {
				background: url(../img/mute-of.png) no-repeat center;

			}
			&:hover {
				opacity: 0.7;
			}
		}
	}
	.shine, .shine-blue {
		width: 67px;
		height: 67px;
		position: absolute;
		top: 17vh;
		left: 24%;
		z-index: 4;
		opacity: 0.2;
		transform: scale(0.5) rotate(0deg);
		background: url(../img/shine.png) no-repeat center;
		background-size: cover;
		animation: shine 3s linear infinite;

		&:nth-child(2) {
			opacity: 0;
			left: 53.3%;
			top: 12.2vh;
			animation-delay: 1s;
		}
		&:nth-child(3) {
			opacity: 0;
			left: 57%;
			top: 28.2vh;
			animation-delay: 2s;
		}
		&:nth-child(4) {
			opacity: 0;
			left: 38%;
			top: 55vh;
			animation-duration: 2.5s;
		}
		&:nth-child(5) {
			opacity: 0;
			left: 47.7%;
			top: 52vh;
			animation-delay: 0.75s;
			animation-duration: 3.5s;
		}
		&:nth-child(6) {
			opacity: 0;
			left: 68%;
			top: 38vh;
			animation-delay: 0.5s;
		}
		&:nth-child(7) {
			opacity: 0;
			left: 62%;
			top: 56vh;
			animation-duration: 2.5s;
		}
		&:nth-child(8) {
			opacity: 0;
			left: 66%;
			top: 64vh;
		}

	}
	.shine-blue {
		background: url(../img/shine-blue.png) no-repeat center;
		top: 15vh;
		left: 15.5%;
		animation-delay: 0.2s;
		animation-duration: 3.2s;
		&:nth-child(2) {
			opacity: 0;
			left: 23.3%;
			top: 25.2vh;
			animation-delay: 0.5s;
		}
		&:nth-child(3) {
			opacity: 0;
			left: 15.5%;
			top: 36.2vh;
			animation-delay: 1s;
		}
		&:nth-child(4) {
			opacity: 0;
			left: 13.5%;
			top: 55vh;
			animation-duration: 2.2s;
		}
		&:nth-child(5) {
			opacity: 0;
			left: 24%;
			top: 50vh;
			animation-delay: 0.75s;
			animation-duration: 2.5s;
		}
	}
}


/*Кадры анимации*/
@keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: -300px 1000px, 100px 400px, 300px 300px;}
}

@-moz-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: -300px 1000px, 100px 400px, 300px 300px;}
}

@-webkit-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: -300px 1000px, 100px 400px, 300px 300px;}
}

@-ms-keyframes snow {
	0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
	100% {background-position: -300px 1000px, 100px 400px, 300px 300px;}
}


@keyframes shine {
	0% {
		opacity: 0.4;
		transform: scale(0.5) rotate(0deg);
	}
	50% {
		opacity: 1;
		transform: scale(1) rotate(45deg);
	}
	100% {
		opacity: 0.4;
		transform: scale(0.5) rotate(90deg);
	}
}